body {
  font-family: 'Khula', sans-serif; }

.container {
  height: 450px;
  width: 280px;
  margin: 100px auto;
  padding: 0;
  position: relative;
  color: #fff;
  align-items: center;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #767170; }
  .container .c-f-btns {
    position: absolute;
    top: 0px;
    right: 10px;
    display: inline-block; }
    .container .c-f-btns .cent {
      border-bottom: 2px solid #fff;
      color: #fff;
      font-weight: bold; }
    .container .c-f-btns .faren {
      color: #CDCDCD;
      font-weight: bold; }
    .container .c-f-btns .block-item {
      display: block;
      background-color: transparent;
      border-radius: 0px; }
      .container .c-f-btns .block-item:focus {
        outline: none;
        box-shadow: none; }
  .container .location {
    position: absolute;
    top: 25%;
    transform: translateY(-75%);
    -webkit-transform: translateY(-75%);
    -ms-transform: translateY(-75%);
    min-width: 100%;
    text-align: center;
    letter-spacing: 5px;
    font-size: 1.5em; }
  .container .date {
    position: absolute;
    letter-spacing: 3px;
    top: 30%;
    transform: translateY(-70%);
    -webkit-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    width: 100%;
    padding-top: 10px; }
  .container .temp {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin: 0;
    min-width: 100%;
    font-size: 3em; }
  .container .description-cont {
    position: absolute;
    top: 70%;
    transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    min-width: 100%;
    text-align: center;
    letter-spacing: 5px; }

h5 {
  text-align: center;
  color: #767170; }
  h5 .fa-heart {
    color: #E65E6F; }

@media screen and (min-width: 300px) and (max-width: 768px) and (orientation: landscape) {
  .container {
    min-width: 100%;
    min-width: 100vw;
    min-height: 100%;
    min-height: 100vh;
    margin: 0;
    font-size: 2em;
    border-radius: 0px;
    box-shadow: none; }
    .container .location {
      font-size: 1.1em; }
    .container .date {
      font-size: 0.5em; }
    .container .temp {
      font-size: 2.2em;
      top: 55%;
      transform: translateY(-45%);
      -webkit-transform: translateY(-45%);
      -ms-transform: translateY(-45%); }
    .container .description-cont {
      font-size: 0.7em;
      top: 75%;
      transform: translateY(-25%);
      -webkit-transform: translateY(-25%);
      -ms-transform: translateY(-25%); }

  h5 {
    display: none; } }
@media screen and (max-width: 767px) {
  .container {
    min-width: 100%;
    min-width: 100vw;
    min-height: 100%;
    min-height: 100vh;
    margin: 0;
    font-size: 2em;
    border-radius: 0px;
    box-shadow: none; }
    .container .location {
      font-size: 1em; }
    .container .date {
      font-size: 0.5em; }
    .container .temp {
      font-size: 2.5em; }
    .container .description-cont {
      font-size: 0.7em; }

  h5 {
    display: none; } }
@media screen and (min-width: 768px) and (max-width: 1366px) {
  .container {
    min-width: 100%;
    min-width: 100vw;
    min-height: 100%;
    min-height: 100vh;
    margin: 0;
    border-radius: 0px;
    box-shadow: none; }
    .container .cent, .container .faren {
      font-size: 2em; }
    .container .location {
      font-size: 2.8em; }
    .container .date {
      font-size: 2em; }
    .container .temp {
      font-size: 5.5em; }
    .container .description-cont {
      font-size: 2.3em; }

  h5 {
    display: none; } }

/*# sourceMappingURL=style.css.map */
